*{
  margin: 0px;
  padding: 0px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5,1fr);
  background-color:white;
  justify-content: center;
  gap: 15px;
  background-color: chartreuse;
  
}
.grid-item{
border: 3px solid;
background-color:Grey;
border-color: green;
padding: 30px;
font-size: 20px;
text-align: center;

}
.grid-item-1,.grid-item-4{
  grid-column: span 3;
 

}
.grid-item-2{
  grid-row: span 2;
  grid-column: span 2;


}
.grid-item-3{
grid-row: span 2;
}