img{
    height:470px;
    width: 45%;
}

p{
    background-color: black;color: aliceblue;font-family: Georgia, 'Times New Roman', Times, serif;
}
#image1{
    border-radius: 50%;
    text-align:center;
    width: 450px;
    height: 500px;
    background-size: cover;
}
/* mobile */
@media only screen and (max-width:480px){
    img{
        height:470px;
        width: 45%;
    }
    
    p{
        background-color:white;
        color:black;
    }
    #image1{
        border-radius: 50%;
        text-align:center;
        width: 450px;
        height: 500px;
        background-size: cover;

}
