
    body{
        background-color: aqua;
    
    }
    img{
        margin-left: 130px;
        height:170px;
        width: 65%;
    }
p{
    background-color: black;color: aliceblue;font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

mobile 
 @media only screen and (max-width:480px){
    body{
        background-color:red;
    }
    img{
        margin-left: 130px;
        height:170px;
        width: 65%;
    }
p{
    background-color: black;color: aliceblue;font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}
 }


