
.image{
   
    margin-right: 700px;
    margin-left: -10px;
    margin-top: -8px;
}
.heading{
    margin-left: 500px;
    margin-top:-400px;


}
img{
   width: 400px;
    height: 407px;
}
h1{
    
    color:brown;
    font-size: 40px;
    font-weight:bolder;
    
    margin-right: 100px;
    border-radius: 15px;
    text-align: center;
}
h1:hover{
    color:darkgoldenrod
    border-radius: 15px;
    text-align: center;
}

.para{
    margin-left: 390px;
    margin-top: 100px;
    line-height: 0.5;
    margin-right: 40px;


}
p{
    color:darkgreen;
font-size: 18px;
font-weight: bold;
font-family: 'Andika', sans-serif;
font-family: 'Unbounded', cursive;
}
body{
    background-color: burlywood;
}
section{
    height: 150px;
    display: flex;
}
#one{
    
    flex:1;
    text-align: center;
    margin-left: 80px;
}
#two{
    
    flex:1;
    text-align: center;
    margin-right: 60px;
}