body{
    background-color: darkgreen;
    color: aliceblue;
}
h1{
     font-size: 40px; 
    font-family: "Times New Roman",Times,serif;
     max-width: 45%;
    /* margin: 200px 1000px 100px 100px; */
    margin-left: 100px;
}

h2{
    margin-left: 100px;
      margin-top: -20px;
      font-size: 30px;

}
.venue{
    margin-top: 100px;
    margin-left: 100px;
}
input{
    margin-left: 100px;
    margin-top: 60px;
    width: fit-content;
    font-size: 20px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-weight: bold;
}
.image{
    text-align:right;
    margin-top: -500px;
    
}
img{
    height:770px;
    width: 45%;
}